<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  

     <!--   <groups>
      
         <define name = "all">
            <include name = "login"/>
            <include name = "navigatebackword"/>
             <include name = "onlinebanking"/>
              <include name = "transferfunds"/>
         </define>
         
         <run>
            <include name = "all"/>
         </run>
         
      </groups> -->
      
<!--       <parameter name = "User_name" value="username"/>  -->
      
    <classes>
      <class name="example.NewTest"/>
    </classes>
  </test> <!-- Test -->
  
    <test thread-count="5" name="Test1">
    <classes>
      <class name="example.transferfunds"/>
    </classes>
  </test>   
  
</suite> 