<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" verbose="1" name="Bank Suite" annotations="JDK" parallel="tests">
   <!-- <test  name="Test1">    
    <classes>
      <class name="example.NewTest"/>
    </classes>
  </test> -->
  
  <test  name="Test2">
    <classes>
      <class name="example.transferfunds"/>
      
    </classes>
     </test>  
      
   
    <test  name="Test3">
    <classes>
      <class name="example.Paybills"/>
      
    </classes>
    
    
    
  </test>  
  
   <!--   <test name="Test3">
    <classes>
      <class name="ExtentReport.ExtentReportsEx"/>
      
    </classes>
    
    
    
  </test>  -->
  
  <!-- <parameter name="OS" value="Windows"/>
<parameter name="browser" value="Chrome"/>

  <test name="Extent Report Test1">
   <classes>
     <class name="com.extentreport.BasicExtentReport"/>
    </classes>
  </test> 
  <test name="Extent Report Test2">
   <classes>
     <class name="ExtentReport.ExtentReportsEx"/>
    </classes>
  </test>  -->
  
</suite> 